 @font-face {
   font-family: Jennifer Lynne;
   src: url(Jennifer Lynne.ttf);
}

body 
{  margin:0;
  background-color: #997a7a;
}

h1 {
    color: #333333;
    text-align: right;
    font-size: 100px; 
    font-family: 'Jennifer Lynne'; 
}

img{
   border-style: solid;
    border-width: 40px 40px 80px 40px;
  color: #ffffff;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

div {
 display: table; /* shrink wrap the contents, aligns div cenet */
 margin: 0 auto;
}
